/* 

Theme Name: Tarefa Wordpress
Theme URI: www.tarefawordpress.com
Author: Grupo 6
Description: Tema para tarefa de Wordpress do Grupo 6
Version: 1.0

*/

/* #region Root */

:root {

    word-wrap: break-word;

    /* palette */
    --primary-chiari: #fafafa;
    --secondary-chiari: #eee;
    --tertiary-chiari: #ddd;
	
	--primary-scure: #333;
	--secondary-scure: #222;
    --tertiary-scure: #111;
    
    --primary-pink: #EDDCD2;
}

a {
    text-decoration: none;
    color: var(--tertiary-scure);
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

button, input[type='submit'] {
    font-size: 1.2em;
    transition: 1s;
    color: var(--primary-chiari);
    background-color: var(--primary-scure);
    border-radius: 4%;
    box-shadow: none;
    border: 2px solid var(--primary-scure)
}

button:hover, input[type='submit']:hover {
    background-color: var(--primary-chiari);
    color: var(--primary-scure);
    cursor: pointer;
}

/* #endregion */

/* #region HEADER */

#header nav {
    background: var(--primary-scure);
    /*= width: 100%; */
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


}

.menu {
    width: 70%;
}

#header ul {
    list-style: none;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    margin: 0 auto;
}

#header li {
    display: inline-block;
    padding: 10px;
    font-size: 1.2rem;
}

#header a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--primary-chiari);
    transition: 1s;
}

#header a:hover::after {
    width: 100%;
    background-color: var(--primary-chiari);
}

#header a {
    color: var(--primary-chiari);
    font-weight: bold;
    text-decoration: none;
}

#header img {
    height: 90px;
    margin-left: 0 auto;
}

/* #endregion HEADER */

/* #region SECTION 1 */

#section-1 {
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

#section-1 h2 {
    font-size: 5em;
    font-weight: bold;
    font-style: italic;
    color: var(--tertiary-scure);
    text-shadow: 5px 5px 20px var(--primary-chiari);
}

/* #endregion SECTION 1 */

/* #region SECTION 2 */

#section-2 {
    padding: 5%;
    font-size: 2em;
    min-height: 50vh;
    box-shadow: 2px 0px 10px var(--tertiary-scure);
}

#section-2 button {
    margin-top: 50px;
}

/* #endregion SECTION 2 */

/* #region SECTION 3 OU MOSTRUARIO */

#section-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#div-produtos {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

#section-3 button {
    margin-top: 20px;
    font-size: 2em;
}

#div-produtos div {
    padding: 1%;
    min-width: 10px;
    min-height: 200px;
    max-width: 100vw;   
    text-align: center;
    background-color: var(--tertiary-chiari);
    margin: 3%;
    border-radius: 5%;
    box-shadow: 1px 1px 30px var(--tertiary-scure);
}

#section-3 a img {
    border-radius: 10%;
    width: 90%;
    margin-bottom: 20px;
}

#section-3 a h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

/* #endregion */

/* #region SECTION 4 */


#section-4 h3 {
    font-size: 2em;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
    margin-bottom: 50px;
}

#div-noticias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    word-wrap: wrap;
    margin-bottom: 50px;
}

#div-noticias a {
    margin: 3%;
}

#div-noticias a div {
    position: relative;
    box-shadow: 1px 1px 10px var(--primary-scure);
    text-align: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid var(--primary-scure);
    border-radius: 5%;
    padding: 5%;
    background-color: var(--primary-chiari);
}

#section-4 h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}

#section-4 form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}


/* #endregion SECTION 4 */

/* #region FOOTER */

#section-2 {
    background: var(--secondary-chiari);
}

#section-3 {
    /* background: #fbfefb; */
    display: flex;
    flex-direction: column;
}

#section-4 {
    background: var(--primary-chiari);
}


footer#fot{
    background-color: var(--primary-pink);
    display: flex;
    justify-content: center;
    margin-top: 25px;
    box-shadow: 1px 1px 12px var(--tertiary-scure);
}

footer#fot img{
    margin: auto;
}

div#txt-fot{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    justify-content: center;
}

div#txt-fot p{
    margin: 10px;
    font-size: 1.5em;
}

/* #endregion FOOTER */


/* #region RESPONSIVIDADE */

@media screen and (max-width: 500px) {
    :root {
        font-size: 62.5%;
    }
}

/* #endregion */