.show-container {
    padding: 2%;
    min-height: 70vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

#searchform {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 2em;
}

#searchform input {
    font-size: .5em;
}

/* #region PARA PRODUTOS */

.products div, .news div {
    overflow: hidden;
    border-radius: 5%;
    background-color: var(--tertiary-chiari);
    width: 250px;
    min-height: 250px;
    margin-bottom: 5%;
    padding-bottom: 5%;
    box-shadow: 1px 1px 20px var(--tertiary-scure);
    word-wrap: wrap;
}

.products h2, .news h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.products img, .news img {
    border-radius: 10%;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* #endregion PARA PRODUTOS */

#pagination {
    text-align: center;
    cursor: pointer;
    font-weight: lighter;
    font-size: 2em;
}
