.produto-single {
    text-align: center;
    min-height: 50vh;
}

.produto-single img {
    border-radius: 20%;
}

.related-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.related-items a {
    margin-right: 1%;
    margin-left: 1%;
}


.related-items a div {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 5%;
    text-align: center;
    background-color: var(--secondary-chiari);
}


.related-items img {
    border-radius: 10%;
    width: 60%;
    height: 60%;
}