div#sobre {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 2em;
}

div#sobre p {
    padding: 5%;
}

div#sobre img {
    max-width: 30vw;
    border-radius: 20%;
    box-shadow: 1px 1px 20px var(--primary-scure);
}

div#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px auto;
}

div#social a {
    margin: 1%;
}

div#social img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 950px) {
    div#sobre {
        flex-wrap: wrap;
    }

    div#sobre img {
        margin: 0 auto;
        max-width: unset;
        width: 60vw;
    }
}

